* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


.leaflet-container {
  width: 100%;
  height: 100%;
}

.inputForm{
  display: flex;
  justify-content: left;
  align-items: center;
  color: #0f5c8b;
}

.tweetList{
  width: 100%;
  display: flex;
  justify-content: right;
}




