* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  scrollbar-width: none;  /* Firefox */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


.leaflet-container {
  width: 100%;
  height: 100%;
}

.inputForm{
  display: flex;
  justify-content: left;
  align-items: center;
  color: #0f5c8b;
}


.container{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttonTweetList{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tweetList{
  height: 80%;
  width: 100%;
  overflow: scroll;
}

.wordCloud{
  height: 90%;
  width: 40%;
  border: solid 2px #1da1f2;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: scroll;
}

.timeFilter{
  display: flex;
  flex-direction: column;
}

